html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.nav-header {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(191, 255, 239, 0.9);
}

.scroll {
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(223, 245, 255, 0.877);
  transition: background-color 0.7s linear 0.2s;
}

.contenedor-nav-header {
  height: 90px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.contenedor-logo-header {
  display: flex;
  align-items: center;
}

.contenedor-logo-header a {
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  padding-bottom: 5px;
}

.logo-header {
  margin-top: 10px;
  margin-right: 10px;
}

.logo-header img {
  height: 50px;
  width: 50px;
}

.items-nav-header {
  width: 30%;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-nav-header li {
  list-style: none;
}

.items-nav-header li a {
  color: var(--font-color);
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

.items-nav-header li a:hover {
  color: rgb(92, 91, 91);
  transition: all 0.3s;
}

.panel-btn {
  display: none;
}

main {
  min-height: calc(100vh - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

main h1 {
  margin-top: 0;
}

.contenedor-buscador {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-buscador input {
  width: 40%;
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 2px solid rgb(170, 170, 170);
  outline-style: none;
  margin-right: 15px;
}

.contenedor-buscador button {
  font-weight: bolder;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to top right, rgb(0, 173, 235), rgb(3, 204, 169));
  padding: 15px 40px;
  border-radius: 40px;
  border-style: none;
  cursor: pointer;
}

.container-cards {
  margin: 80px 0;
  width: 90%;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(224, 224, 224, 0.9);
  padding: 10px;
  /* margin: 0 12px; */
  margin: 0 2.2vw;
  margin-bottom: 8vh;
  /* transition: all 0.3s ease-out; */
}

.card-oculta {
  /* opacity: 0;
  visibility: hidden; */
  display: none;
  order: 1;
}

@media (max-width: 820px) {
  .container-cards {
    justify-content: center;
  }

  .card {
    width: 38%;
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media (max-width: 770px) {
  .items-nav-header {
    display: none;
  }

  .contenedor-buscador {
    flex-direction: column;
  }

  .contenedor-buscador input {
    margin-bottom: 20px;
  }

  .panel-btn {
    display: block;
  }
}

@media (max-width: 600px) {
  .container-cards {
    margin-top: 10vh;
    margin-bottom: 0;
  }
  .card {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }
  .contenedor-buscador input {
    margin-right: 0%;
    min-width: 250px;
  }
}

.card h4 {
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 20px;
}

.container-img-card {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#fff, rgb(0, 173, 235));
}

.img-card {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.text-card {
  margin-bottom: 25px;
  color: black;
  font-weight: bolder;
}

.btn-add-favs {
  font-weight: bolder;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to top right, rgb(0, 173, 235), rgb(3, 204, 169));
  padding: 15px 40px;
  border-radius: 40px;
  border: 2px solid #fff;
  cursor: pointer;
}

.btn-remove-favs {
  font-weight: bolder;
  font-size: 16px;
  color: rgb(0, 173, 235);
  background-color: #fff;
  padding: 15px 40px;
  border-radius: 40px;
  border-style: none;
  border: 2px solid rgb(0, 173, 235);
  cursor: pointer;
}

.btn-oculto {
  display: none;
}

.div-footer {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgb(0, 173, 235),
    rgba(255, 255, 255, 0.9)
  );
}
.div-footer p {
  color: rgb(234, 53, 87);
  margin-bottom: 0px;
  margin-top: 20px;
}
